@import "colors";
@import "units";
@import "typo";

* {
  box-sizing: border-box;
}

body {
  color: $colorText;
  background-color: $colorBody;
  font-family: $baseFont;
  font-size: $baseFontSize;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}