$baseUnit: 12px;

$colorText: #E8E8E8;

body {
  color: $colorText;
  background-color: black;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
}

img {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.home__thumbs img {
  float: left;
}

.box {
  padding: $baseUnit;
}

.locale-switcher {
  text-align: right;
  position: absolute;
  top: $baseUnit;
  right: $baseUnit;
  select {
    font-size: 1em;
    font-family: inherit;
  }
}