body {
	font-family: "Avenir Next";
}

h1, h2 {
	font-weight: 200;
}

h2 {
	background: black;
	color: white;
	margin: 0;
	padding: 5px 10px;
}

.master {
	margin-right: 24px;
	float: left;
}

.detail {
	float: left;
	img {
		width: 600px;
	}
}