<!DOCTYPE html>
<html>
<head>
	<title>Server error</title>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
		<h1>Something didn't work right</h1>
		<p>Please try again later.</p>
</body>
</html>