<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="mountNode"><%- pageElementAsString %></div>
	<script>
		var props = <%- JSON.stringify(props) %>
	</script>
	<script src="http://localhost:3001/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>