@keyframes fade-bottom {
  from {
    opacity: 0;
    transform: translateY(2%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.Animation--fadeBottom {
  animation: fade-bottom 0.25s 0s backwards;
}
