// @credit Loader SVG from http://samherbert.net/svg-loaders/

.Loader {
  height: 2rem;
  background-image: url('../assets/grid-loader.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
