@import 'constants/colors';

.NavBar {
  position: relative;
  margin-bottom: 2rem;
}

.NavBar-title {
  text-align: center;
}

.NavBar-links {
  overflow: auto;
  margin-top: 1rem;

  white-space: nowrap;
  text-align: center;
}

.NavBar-link {
  position: relative;
  display: inline-block;
  padding: .75rem;
  color: inherit;

  font-weight: 300;
  font-size: .875rem;

  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: .75;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &:after {
    display: block;
    width: 0;
    height: 2px;
    margin: .25rem auto;

    content: '';

    background-color: transparent;
    transition: all .15s;
  }


}

.NavBar-link--selected {
  color: $color-secondary;

  &:after {
    width: 100%;
    background-color: currentColor;
  }
}

.NavBar-locales {
  position: absolute;
  right: 0;
  top: 0;
}
