.ThumbnailCollection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .Thumbnail {

    flex: 1;
    flex-basis: 8rem;

    &:nth-child(5n) {
      flex-basis: 14rem;;
    }

    &:nth-child(2n+1) {
      flex-basis: 10rem;;
    }

    &:nth-child(7n+4) {
      flex-basis: 20rem;
      min-height: 12rem;
    }

    &:hover {
      opacity: .9;
    }

  }

}
