.ThumbnailCollection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;

  .Thumbnail {

    flex: 1;
    flex-basis: 12rem;

    &:nth-child(2n+1) {
      flex-basis: 15rem;
      min-height: 10rem;
    }

    &:nth-child(5n) {
      flex-basis: 24rem;
    }

    &:nth-child(2n+1) {
      flex-basis: 17rem;
      min-height: 17rem;
    }

    &:nth-child(5n+4) {
      flex-basis: 30rem;
      min-height: 20rem;
    }

    &:hover {
      opacity: .9;
    }

  }

}
