.Thumbnail {
  display: block;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  min-width: 8rem;
  min-height: 8rem;

  transition: filter .25s;

  &:hover {
    filter: brightness(75%);
  }

}

.Thumbnail-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
