<!DOCTYPE html>
<html>
<head>
	<title><%= props.title %></title>
</head>
<body>
	<div id="mountNode"><%- pageElementAsString %></div>
	<script>
		var props = <%- JSON.stringify(props) %>
	</script>
	<script src="http://localhost:3001/js/lib.js"></script>
	<script src="http://localhost:3001/js/main.js"></script>
</body>
</html>