<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/lib.js"></script>
	<script src="/js/main.js"></script>
</head>
<body><%- html %></body>
</html>